<!-- MENU -->
<div style="height: 100vh;">
  <mat-toolbar>
    <a routerLink="/"><span style="margin-right: 20px;margin-left: 60px;text-align: center;"><img src="/assets/img/logo.png"></span></a>
    <span class="example-spacer"></span>
    <!-- <div fxLayoutAlign="center center" fxShow="true" fxHide.lt-md="true">
      <a mat-button class="nav-item" (click)="tipo(movie.value)">Filmes</a>
      <input type="hidden" value="movie" #movie id="movie" name="movie">
      <a mat-button class="nav-item" (click)="tipo('series')">Séries</a>
    </div> -->
    <!-- <div fxShow="true" fxHide.gt-sm="true">
      <a href="#" (click)="sidenav.toggle()"><i class="fa fa-bars" style="color: white"></i></a>
    </div> -->
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <<!-- div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
	      <a href="#" mat-button class="nav-item" (click)="tipo(movie.value)">Filmes</a>
	      <input type="hidden" value="movie" #movie id="movie" name="movie">
	      <a href="#" mat-button class="nav-item" (click)="tipo('series')">Séries</a>
      </div> -->
    </mat-sidenav>
    <mat-sidenav-content style="verflow: hidden;">
			<div class="form-busca">
		    <p align="left"><span class="title-film" style="margin-left: 10px;">Busque um filme:</span>
		  		<input id="search" #filme type="search" (keyup)="busca($event)" class="search-input" placeholder="Digite o nome de um filme"> <!-- <button class="btn-buscar" mat-raised-button color="primary" (click)="buscaFilmes(filme.value)">Pesquisar</button> -->
		    </p>
		    <div class="error"></div>
				<div *ngIf="nFilmes > 0">
					<p align="left" class="nFilmes" style="margin-left: 10px;">Foram encontrados {{nFilmes}} filmes na sua busca.</p>
				</div>
			</div>
			<hr/>
			<ngx-loading [show]="spinner"></ngx-loading>
				
			<div class="container-full search-results">
				<div class="container">
					<div class="results">
						<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
							<div class="filmes" *ngFor="let movie of movies">
								<div infiniteScroll
						            [infiniteScrollDistance]="2"
						            [infiniteScrollThrottle]="500"
						            (scrolled)="onScrollDown()">
									<mat-card>
							    	<img mat-card-image src="{{movie?.Poster}}" height="400px" onError="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdsLWP3Hym4rLxUIVhckpMu717_bDbR3oHSP1TiH0E5n_i-PfX'">
										<mat-chip-list class="mat-chip-list-stacked">
											<mat-chip color="danger" selected="true">
												<p class="name-filme" style="margin-bottom: 0">FILME: {{movie?.Title}}</p>
											</mat-chip>
											<mat-chip color="primary" selected="true">
												ANO: {{movie.Year}} | TIPO: {{movie.Type}} | <a  routerLink="/movie/{{movie?.imdbID}}">Ver detalhes</a> <i class="fa fa-search"></i>
											</mat-chip>
										</mat-chip-list>
									</mat-card>
									<br>
								</div>
							</div>
						</div>
					</div>
					<div class="results2">
						<div class="scroll" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
						</div>
					</div>
				</div>
			</div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
